/* 
    Author: Muzammil Asghar;
    Theme: Restaurant Food Order admin;
    version: 1.0;
*/

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{

    padding: 1%;
    width: 80%;
    margin: 0 auto;
}


/*
css for manu
*/
.manu{
    text-align: center;
    border: 1px solid black;
}
.manu ul{
    list-style-type: none;
}
.manu ul li{
    display: inline;
    padding: 1%;
    
}
.manu ul li a{
    text-decoration: none;
    font-weight: bold;
    color: #ffa1b1;
} 
.manu ul li a:hover{
    color: red;
}

/* css for main content*/

.content{
    
    background-color: #f1f2f0;
    padding: 3% 0;
}



.boxs{
    width: 18%;
    background-color: white;
    margin: 1%;
    padding: 2%;
    text-align: center;
    float: left;
}

.clearfix{
    float: none;
    clear: both;
}
 

/*
Css for the footer
*/
.footer{
    background-color: #ff657c;;
    color: white;
}
.footertext{
    text-align: center;
}

/* Css for manage_admin*/



/* this Css for add admin btn */

#add-btn{
    background-color: lightskyblue;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
    float: left;
    margin-top: 14px;
}
#add-btn:hover{
    background-color: lightseagreen;
}




/* this is css of table*/
.admintbl{
    width: 100%;

}

.admintbl th{
   border-bottom: 1px solid black;
   padding: 2%;
   text-align: left;

}
.admintbl tr td{
    padding: 1%;


}
/* this is updata  btn in table */
#update-btn{
    background-color:rgb(103, 211, 205);
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
    
}

#update-btn:hover{
    
    background-color:
    rgb(66, 160, 155) ;
}
/* this is del  btn in table */

#del-btn{
    background-color: rgb(255, 150, 150);
        padding: 1%;
        color: white;
        text-decoration: none;
        font-weight: bold;
        border: 1px solid black;
        border-radius: 5px;
        
    
}
#del-btn:hover{
    
    background-color:rgb(255, 7, 7);
}

/*This css is for add_admin.php*/

.addtable{
    width: 32%;
    margin-top: 4%;

}

.btn-add{
    background-color:
    rgb(45, 207, 199) ;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
    width: 80%;
    margin-top: 8px;
    height: 40px;
    
}

.btn-add:hover{
    background-color:rgb(103, 211, 205);
}



.addtable tr td{
    padding:5px;
    text-align: left;
}